
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.colorFondo{
    background-color: rgb(189, 104, 104);
       
}
.nombreDisp{
    font-size: 25px;
    color: rgb(161, 48, 48);
}

